<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

    <!-- Custom Fonts -->
    <!-- <link rel="stylesheet" th:href="@{/css/fonts/THSarabunNew/THSarabunNew.css}" /> -->

    <!-- Main APP -->
    <!-- <link rel="stylesheet" th:href="@{/css/main.css}" /> -->
</head>

<body>
    <div align="center">Redirecting to main page... or click <a th:href="@{/page/main}">here</a>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        setTimeout(() => {
            window.location = /*[[@{/page/main}]]*/;
        }, 2000);
        /*]]>*/
    </script>
</body>

</html>