<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

    <title th:text="${appContext.name}"></title>    
    <!-- Custom Fonts -->
    <!-- <link rel="stylesheet" th:href="@{/css/fonts/THSarabunNew/THSarabunNew.css}" /> -->
    
    <!-- Roboto Font -->
    <!--
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    -->
    <!-- Font Icons -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> -->
    <link rel="stylesheet" th:href="@{/css/fonts/material-icons/material-icons.css}" />
    <link rel="stylesheet" th:href="@{/css/fonts/roboto/roboto.css}" />
    
    <!-- Main APP -->
    <!-- <link rel="stylesheet" th:href="@{/css/main.css}" /> -->

    <!-- Not used
    <script th:src="@{/js/jquery-3.4.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>    
    -->
</head>
<body>
    <div id="react"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const appContextJson = /*[[${appContextJson}]]*/
        window.appContext = JSON.parse(appContextJson);
        // console.log('App Context: ', window.appContext);
        /*]]>*/
    </script>
    <script th:src="@{/built/vendor.bundle.js}"></script>
    <script th:src="@{/built/bundle.js}"></script>
</body>
</html>