@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* Override/Extend bootstrap */
.nav-link {
    cursor: pointer;
}

.dropdown-item a {
    color: #000;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.form-control:disabled {
    cursor: not-allowed;
}

.btn:disabled {
    cursor: not-allowed;
}

.breadcrumb {
    background-color: #f8f9fa !important;
}

/* Custom Style */
/*
.text-normal {
    font-family: 'THSarabunNew', sans-serif;
    font-size: 1.125rem;
}
*/

.text-version {
    color: #CCCCCC;
}

.navlink-active {
    color: #000 !important;
    border-bottom: 3px solid #000;    
}

.navbar-bg {
    color: rgba(0, 0, 0, 0.03);
}